@media only screen and (min-width: 0px) {
    body {
        font-size: 14px;
    }
    #para_img_4{
        display: block;
        width: 100%;
        margin: 0px auto 20px;
    }
    #para_img_3{
        width: 50%;
        float: left;
        margin: 5px 30px 20px 0px;
    } 
    #para_img_1{
        width: 100%;
    }
    #main{
        font-size: 0.65em;
    }
    body::-webkit-scrollbar {
        width: 0px;               /* width of the entire scrollbar */
    }
}
@media only screen and (min-width: 768px) {
    body {
        font-size: 18px;
    }    
    .nav>li>a {
        padding: 35px 15px;
    }
}
@media only screen and (min-width: 992px) {
    body {
        font-size: 20px;
    }
    body::-webkit-scrollbar {
        width: 5px;               /* width of the entire scrollbar */
      }
}
@media only screen and (min-width: 1200px) {
    body {
        font-size: 22px;
    }
    #para_img_4{
        float: right;
        width: 500px;
        margin: 5px 10px 20px 30px;
    }
    #para_img_3{
        float: left;
        width: 400px;
    } 
}

body::-webkit-scrollbar-track {
    background:  #fdfdfd;        /* color of the tracking area */
  }
body::-webkit-scrollbar-thumb {
    background-color: rgb(151, 151, 151);    /* color of the scroll thumb */
    border-radius: 100px;       /* roundness of the scroll thumb */
    border: 0px solid #ffffff;  /* creates padding around scroll thumb */
  }

#vel_logo{
    display: block;
    float: left;
    height: 50px;
    margin: 20px;
    margin-right: 40px;
}
body{
    background: linear-gradient(to bottom, #70A9A1 300px, #131D2A 100%);
    color: #f9fdf9;
    font-family: monospace ;
}
.title{
    font-size: 3em;
    font-family: 'Lucida Bright','Times New Roman', Times, serif;
    text-align: center;
    text-transform: capitalize;
}
.subtitle{
    font-size: 0.8em;
    text-align: center;
    font-family: 'Lucida Bright','Times New Roman', Times, serif;
    text-transform: capitalize;
}
#intro,#story,#skins{
    display: none;
}
#main{
    display: block;
    position: relative;
    margin-top: -21px;
    padding: 55vh 0px 0px;
    text-align: center;
    z-index: 0;
    overflow: hidden;
    height: calc(100vh - 91px);
}
#main #main_img{
    z-index: 0;
    height: 91vh;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    background-image: url("../Media/vel_background1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#main #main_img::after {
    content: '';
    position: absolute;
    background: linear-gradient(to bottom, transparent 40%, black 110%);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
#main .big_title{
    position: relative;
    color: #c2c282 ;
    font-size: 8em;
    text-transform: uppercase;
}
#main .big_subtitle{
    position: relative;
    font-size: 1.5em;
}
.title,.subtitle{
    color: #0f1a1d;
}
#mid{
    width: calc(100vw-1px);
}
#skins{
    margin-top: -21px;
    padding-top: 21px;
    overflow: hidden;
    height: calc(100vh - 91px);
    text-align: center;
}
.carousel-inner img{
    display: inline;
    width: 100%;
}
#nav_button{
    margin-top: 25px;
}
#carousel-example-generic{
  top: 40%;
  transform: translate(0%, -50%);
  padding: 10px;
}
#skins .carousel-caption{
    font-size: 1.5em;
}
p{
    margin: 0px;
}